.git
.gitignore
.env
.env.*
!.env.example
node_modules
vendor/
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.phpunit.result.cache
public/hot
public/storage
*.md
!README.md
!DOCKER.md
tests/
.phpactor.json
.idea
.vscode
.fleet
.zed
Homestead.json
Homestead.yaml
*.sh
!docker-entrypoint.sh
